header{
  text-align: center;
  background-color: rgb(0, 0, 0);
 color: rgb(255, 255, 255);

}
table{
  margin: auto;
  border-width: 0,75cm;
  border-color: rgb(255, 0, 0);
}
p{
  
  color: blueviolet;
}
aside{
  border-width: 0,75cm;
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}
footer{
  font-size: larger;
  text-align: center;
  padding: 10px;
  background-color: DarkSalmon;
  color:black;
}
footer{
  margin: 15em auto;
}